<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <style>
    .abc{
        outline-style: auto;
        outline-color: #5f0080;
    }
    .alert{
       color: #5f0080;
       font-size : 30px;
       background-color: #FFFFFF;
       font-weight: bold;
       text-align: center;
     }
     .badge{
        color: white;
        background-color: #5f0080;
        font-weight: bold;
        text-align: center;
     }
    </style>

    <div class="container">
        <br/>
        <div class="alert alert-light" role="alert">Q & A</div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" th:onclick="|location.href='@{/board/list}'|">목록</button>
            <div th:if="${board.userId == #authentication.name}" class="d-flex d-grid gap-2 d-md-block">
                <button class="btn btn-secondary" th:onclick="|location.href='@{/board/modify/{id}(id=${board.id})}'|">
                    수정
                </button>
                <button class="btn btn-secondary" th:onclick="|location.href='@{/board/delete(id=${board.id})}'|">삭제
                </button>
            </div>
        </div>
        <br/>

        <div>
            <input type="hidden" id="boardId" th:value="${board.id}">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 8.33%">제목</th>
                    <td type="title" th:text="${board.title}" style="align: left;"></td>
                </tr>

                <tr>
                    <th scope="col">작성자</th>
                    <td>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <span th:text="${board.writer}" style="font-weight: bold; font-size: 16px;"></span>
                            </div>
                            <div><span th:text="|작성일&nbsp&nbsp${board.getCreatedDate()}|" ></span></div>
                        </div>
                    </td>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <td colspan="2" style="height: 300px">
                        <div th:text="${board.content}"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 300px">
                        <img th:src="@{/files/}+${board.fileName}" width="200" height="auto">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>


        <!--   댓글       -->
        <div class="card">
            <form>
                <input type="hidden" id="commentWriter" th:value="${login_id}">
                <input type="hidden" id="boardId" th:value="${board.id}">
                <div class="card-body">
                    <textarea id="commentContent" class="form-control" rows="1"></textarea>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" id="btn-comment-save" class="btn btn-outline-primary" style="btn-outline-color: #5f0080;" >댓글쓰기</button>
                </div>
            </form>
            </span>
            <br>

            <div class="card">
                <div class="card-header">댓글 리스트</div>
                <ul id="comment_box" class="list-group" th:each="comment : ${commentList}" >
                    <li th:id="|comment-${comment.id}|" class="list-group-item d-flex justify-content-between" style="background-color: #FFFFFF; color: #000000;">

                        <div th:text="${comment.content}" >댓글 내용</div>
                        <div class="d-flex">
                            <div th:text="|${comment.writer} &nbsp&nbsp|" style="font-weight: bold;"></div>
                            <div th:text="|${comment.createdDate} &nbsp&nbsp|"></div>
                            <div th:if="${comment.userId == #authentication.name}">
                                <button type="button" th:onclick="|javascript:index.commentDelete(${board.id}, ${comment.id})|"
                                        class="badge btn">삭제
                                </button>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/comment.js"></script>
</div>
</div>
</html>